<!DOCTYPE html>
<html>
<head>
  <title>Cllycms</title>
  <%= stylesheet_link_tag    "cllycms/application" %>
  <%= javascript_include_tag "cllycms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
